$dark-bg: #1f2023;
$display-bg: #333333;
$button-bg: #4d4f53;
$button-hover-bg: darken($button-bg, 10%);
$equals-button-bg: #e48900;
$equals-button-hover-bg: darken($equals-button-bg, 10%);

$text-color: #ffffff;
$display-color: #ffffff;
$button-text: #ffffff;

$special-button-bg: #686b70;
$special-button-hover-bg: darken($special-button-bg, 10%);
